body {
    background-color: blue;
}

img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    align-content: center;
    text-align: center;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(12, 181, 233);
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: aquamarine;
}